{{- define "get /category/create" -}}
<form action="/category/create" method="post">
	<label for="name">Name</label>
	<input type="text" id="name" name="name" maxlength="100" minlength="2"/>
	<label for="aliases">Aliases</label>
	<input type="text" id="aliases" name="aliases"/>
	<input type="submit"/>
</form>
{{- end -}}

{{- define "post /category/create" -}}
<p>Created <q>{{.Data.Category.Name}}</q> with ID <code>#{{.Data.Category.ID}}</code></p>
<a href="/category/{{.Data.Category.ID}}">View Category</a>
{{- end -}}