{{- define "get /tag/create" -}}
<form action="/tag/create" method="post">
	<label for="name">Name</label>
	<input type="text" id="name" name="name" maxlength="100" minlength="2"/>
	<label for="aliases">Aliases</label>
	<input type="text" id="aliases" name="aliases"/>
	<input type="submit" value="Submit"/>
</form>
{{- end -}}

{{- define "post /tag/create" -}}
<p>Created <q>{{.Data.Tag.Name}}</q> with ID <code>#{{.Data.Tag.ID}}</code></p>
<a href="/tag/{{.Data.Tag.ID}}">View Tag</a>
{{- end -}}