{{- define "get /tag" -}}
{{- if not .Htmx -}}
<div>
	{{template "tags header"}}
</div>
{{- end -}}
<div>
	<form action="/tag/search" method="GET"
		hx-boost="true"
		hx-get="/tag/search"
		hx-trigger="keyup delay:500ms from:#tag-search, change from:.search-form delay:500ms, search from:.search-form"
		hx-target="#results"
	>
		<label for="tag-search">Search</label>
		<input name="q" id="tag-search" type="search" class="search-form"
			minlength="1"
			maxlength="100"
		>
		<label for="amount">Amount</label>
		<select name="max" title="amount" class="search-form">
			<option value="5" selected>5</option>
			<option value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
		</select>
		<label for="prefix">Prefix only</label>
		<input type="checkbox" name="prefix" id="prefix" class="search-form">
		<noscript>
			<input type="submit" title="Submit"/>
		</noscript>
	</form>
	<hr/>
	<div id="results"></div>
</div>
{{- end -}}