<!--{{- define "meta wrapper" -}}<!-- {{/* webhint can't understand the template header without this html comment jank, and this annoys me less than seeing a constant "error" from webhint */}} -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.bunny.net">
	<link href="https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,400i,700,700i|rubik:400,400i,600,600i,800,800i" rel="stylesheet" />
	
	<script src="https://unpkg.com/htmx.org@1.8.2" integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx.org@latest/dist/ext/alpine-morph.js"></script>
	
	<script defer src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
	<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	
	<link rel="stylesheet" href="/static/normalize.css" crossorigin="anonymous" referrerpolicy="no-referrer">
	<!--instead of continuing to bikeshed over css, i'ma just be lazy and put _something_ in so i can get with development-->
	<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-earthly.css" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" media="screen and (prefers-color-scheme: dark)" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="alternate stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" title="Light" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="alternate stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" title="Dark" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="alternate stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark-solarized.css" title="Dark Solarized" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="alternate stylesheet" href="https://unpkg.com/sakura.css/css/sakura-earthly.css" title="Earthly" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="alternate stylesheet" href="https://unpkg.com/sakura.css/css/sakura-ink.css" title="Ink" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="alternate stylesheet" href="https://unpkg.com/sakura.css/css/sakura-pink.css" title="Pink" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="alternate stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" title="Vader" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer">
	<title>{{if .Title}}{{.Title}}{{else}}Chara Directory{{end}}</title>
</head>
<body class="">
	<script defer>
	const session = "{{.Data.Session}}";
	
	document.body.addEventListener('htmx:configRequest', function(evt) {
		//evt.detail.parameters['page-session'] = session;
		evt.detail.headers['page-session'] = session;
	});
	</script>
	<div class="">
		<nav class="">
			<span><a href="/">Search</a></span>
			<span>| <a href="/tag">Tags</a></span>
			<span>| <a href="/category">Categories</a></span>
			<span>| <a href="/settings">Settings</a></span>
			<hr/>
		</nav>
		<article class="">
			{{.Data.Body}}
		</article>
		<aside hx-sse="connect:/debug/dblog/{{.Data.Session}}">
			<pre hx-sse="swap:dbquery">{{- .Data.Debug.DB}}</pre>
			<var>{{.Data.Debug.BuildInfo}}</var>
		</aside>
	</div>
</body>
</html>
{{- end -}}