{{define "category header"}}
<ul>
	<li><a href="/category/all">List All</a></li>
	<li><a href="/category/create">Create</a></li>
</ul>
{{end}}

{{- define "category list" -}}
	{{- range .}}
<section>
	{{template "category view" .}}
</section>
	{{- else -}}
<p>No results. </p>
	{{- end -}}
{{- end -}}

{{- define "category view" -}}
<h2><a href="/category/{{.ID}}">{{.Name}}</a></h2>
	{{/* - if .Aliases -}}
<section><small>Also known as: </small>{{template "fmt aliases" .Aliases}}</section>
	{{- end - */}}
<hr/>
	{{- if false -}}<!--fill in .Description here later-->
<hr/>
	{{- end -}}
<footer>
	<small>ID: {{.ID}} {{/* if .Parent}}Parent: {{.ParentID}}{{end */}}</small>
</footer><hr/>
{{- end -}}