{{- define "tags header" -}}
<ul>
	<li><a href="/tag/all">List All</a></li>
	<li><a href="/tag/create">Create</a></li>
</ul>
{{- end -}}

{{- define "tag list" -}}
	{{- range .}}
<section>
	{{template "tag view" .}}
</section>
	{{- else -}}
<p>No results. </p>
	{{- end -}}
{{- end -}}

{{- define "tag view" -}}
<h2><a href="/tag/{{.ID}}">{{.Name}}</a></h2>
	{{- if .Aliases -}}
<section><small>Also known as: </small>{{template "fmt aliases" .Aliases}}</section>
	{{- end -}}
<hr/>
	{{- if false -}}<!--fill in .Description here later-->
<hr/>
	{{- end -}}
<footer>
	<small>ID: {{.ID}} Category: {{.CategoryID}}</small>
</footer><hr/>
{{- end -}}